@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    transition: background-color 0.2s ease-in-out;
  }
  
  body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  * {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
